BODY {
	margin: 0px;
	background-color: #1c1c1b; 
	font-family: "Courier New", Courier, mono;
  color: #c7c6c5;
	}
	
/*---------------------------------------------------------------------------*/	
/* Begin Table Formating Definitions
*/
/*---------------------------------------------------------------------------*/

TABLE  {
	font-family: "Courier New", Courier, mono;
	}
	
TD {
	font-family: "Courier New", Courier, mono;
	}
	
TH {
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
	}
	
/*---------------------------------------------------------------------------*/	
/* Begin List Formating Definitions
*/
/*---------------------------------------------------------------------------*/
	
LI {
	font-family: "Courier", Courier;
  font-size: 17px;
  padding-right: 10px;
	}
	
UL {
	font-family: "Courier New", Courier, mono;
	}
	
OL {
	font-family: "Courier New", Courier, mono;
	}

.headline.destinationHead {
	color: 6699ff;
	font-weight: bold;
	}
	
.headline.destinationTitle {
	text-transform: uppercase;
	font-weight: bold;
	color: CC99FF;
	}

.jack{
  font-size: 18px !important;
    display: block;
  padding-bottom: 10px; /* Adjust the padding value as needed */
  text-decoration: none !important; /* Remove underline */
  text-align: center !important;
  color: inherit !important; /* Inherit text color from parent */
}


/*---------------------------------------------------------------------------*/	
/* Begin Formating Definitions for HTML elements
*/
/*---------------------------------------------------------------------------*/
P {
	font-family: "Courier New", Courier, mono;
	}
	
H1 {
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
	}
	
FONT {
	font-family: "Courier New", Courier, mono;
	}

SELECT {
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
	}

TEXTAREA {
	font-family: "Courier New", Courier, mono;
	}
a:active {  font-family: "Courier New", Courier, mono;  color: #000000; text-decoration: none}
a:visited {  font-family: "Courier New", Courier, mono;  color: #CC0000; text-decoration: none}
a:link {  font-family: "Courier New", Courier, mono;  font-style: normal; text-decoration: none; color: #990000}
a:hover {  font-family: "Courier New", Courier, mono;  color: #000099; text-decoration: none}

